@import './mixins.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');


* {
    @include starter;
}

body {
    background-image: url('../images/pexels-elijah-o\'donnell-3473569.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;

    @include for-tablet-portrait-up  {
        overflow: auto;
    }
    
    
    

   .navbar {
       display: flex;
       height: 10vh;
       justify-content: space-between;
       align-items: center;
       padding: 0 40px;
       

       .nav-text {
           h1 {
            font-family: 'Kalam', cursive;
            color: #9ba4b4;
            font-size: 2rem;
            z-index: 2;
           }
       }

       .hamburger {
        @include flexProp;
        flex-direction: column;
        cursor: pointer;
        z-index: 2;

          .line {
            @include ham-menu;
            margin: 2px 0;

          }
        }
    }

    .nav-links {
        $self: &;

                
                list-style: none;
                @include flexProp;
                flex-direction: column;
                height: 60vh;
                width: 12vw;
                transition: all 0.3s ease;
                position: absolute;
                top: 10vh;
                pointer-events: none;
                opacity: 0;

                @include for-tablet-portrait-up  {
                    height: 100vh;
                    width: 22vw;
                    top: -10vh;
                }

             li {
                $self: &;



                 margin: 50px 0;
                opacity: 0;

                    &:nth-child(1) {
                        transition: all 0.3s ease-in 0.3s;
                    }
                    &:nth-child(2) {
                       transition: all 0.5s ease-in 0.6s;
                    }
                    &:nth-child(3) {
                       transition: all 0.8s ease-in 0.9s;
                    }

                    
                   

                    &.active {
                        opacity: 1;
                  } 

                 


                 a {
                    text-decoration: none;
                    color: #9ba4b4;
                    font-size: 1.2rem;

                   @include for-tablet-portrait-up  {
                        font-size: 14px;
                    }

                }
            }

              &.open {
                 opacity: 1;
                  pointer-events: all;
                  transform: translateY(2%);
              }  


    
    }

    .content {
        @include flexProp;
        width: 70vw;
        height: 80vh;
        position: absolute;
        transform: translate(20%, 5%);

        @include for-tablet-portrait-up  {
                flex-direction: column;
                height: 100vh;
                transform: translate(20%, 10%);
        }
        
        

        .left-content {
            width: 50%;
            background: #d2f5e3;
            opacity: 0.5;
            @include flexProp;
            flex-direction: column;
            
            @include for-tablet-portrait-up  {
                    width: 70%;
                    height: 50%;
            }
        

            .text-content {
                color: #222831;
                font-size: 2.5rem;
                padding: 30px 10px 5px;
                margin-bottom: 5%;
                font-family: 'Merienda One', cursive;

                @include for-tablet-portrait-up  {
                    $self: &; 
                    font-size: 1.9rem;
                    text-align: center;
                    padding: 10px 30px 0;
                    line-height: 1.4;
                    padding-bottom: 8%;
                   // margin-bottom: 10%;
                }
            }

            .cocktails {
                  margin-bottom: 20%; 
                  margin-left: 30px;

                  @include for-tablet-portrait-up  {
                    margin-left: 0;
                    margin-bottom: 10%;
                  }

                  select {
                      font-size: 1.2rem;
                      padding: 10px;
                      outline: none;
                      border: #fff 1px solid;
                      border-radius:21px;
                      background: #222831;
                      color: #fff;
                      margin-right: 30px;


                      @include for-tablet-portrait-up  {
                        padding: 10px;
                        margin-left: 35px;
                        font-size: 1rem;
                        width: 70%;
                      }
                  }

             
               
            }

           
        }

        .right-content {
            width: 50%;
            height: 100%;
            @include flexProp;

            .slideshow {
                background: #222831;
                opacity: 0.7;
                width: 70%;
                height: 70%;
                margin-left: 10%;
                overflow: hidden;
                position: relative;
                border: #9ba4b4 4px solid;
                border-radius: 2px;

                @include for-tablet-portrait-up  {
                    margin-left: 0;
                }


                .slide {
                    background-image: url('../images/pexels-helena-lopes-4279101\ \(1\).jpg');
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    transition: all 1s ease;
                    transform: translateZ(90deg);
                }
            }

            @include for-tablet-portrait-up  {
                width: 70%;
                height: 50%;

            }

        }   
    }

    
}
