@import './mixins.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');


* {
    @include starter;
}

body {
    background-image: url('../images/pexels-elijah-o\'donnell-3473569.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    
    

   .navbar {
       display: flex;
       height: 10vh;
       justify-content: space-between;
       align-items: center;
       padding: 0 40px;
       

       .nav-text {
           h1 {
            font-family: 'Kalam', cursive;
            color: #9ba4b4;
            font-size: 2rem;
            z-index: 2;
           }
       }

       .hamburger {
        @include flexProp;
        flex-direction: column;
        cursor: pointer;
        z-index: 2;

          .line {
            @include ham-menu;
            margin: 2px 0;

          }
        }
    }

    .nav-links {
        $self: &;

                
                list-style: none;
                @include flexProp;
                flex-direction: column;
                height: 60vh;
                width: 15vw;
                transition: all 0.3s ease;
                position: absolute;
                top: 10vh;
                pointer-events: none;
                opacity: 0;

             li {
                $self: &;

                 margin: 50px 0;
                 opacity: 0;

                    &:nth-child(1) {
                        transition: all 0.3s ease-in 0.2s;
                    }
                    &:nth-child(2) {
                       transition: all 0.4s ease-in 0.4s;
                    }
                    &:nth-child(3) {
                       transition: all 0.5s ease-in 0.6s;
                    }

                    &.active {
                        opacity: 1;
                  } 

                 
                  a {
                    text-decoration: none;
                    color: #9ba4b4;
                    font-size: 1.2rem;

                    @include for-tablet-portrait-up  {
                        color: #fff;
                        font-size: 1.5rem;
                    }

                }
                }

              &.open {
                  opacity: 1;
                  pointer-events: all;
                  transform: translateY(2%);
              }  


        @include for-tablet-portrait-up  {
            $self: &; 

            background: rgba(155, 164, 180, 0.2);
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: -2vh;
            transition: all 1s ease;
            pointer-events: none;
            clip-path: circle(100px at -10% -14%);
            

            &.open-mobile {
                clip-path: circle(1000px at -10% -12%);
                pointer-events: all;
                
                
            }
        } 
    }

    .content {
        display: flex;
        width: 70vw;
        height: 80vh;
        position: absolute;
        transform: translate(20%, 5%);

        .left-content {
            width: 50%;
            background: #d2f5e3;
            opacity: 0.5;
            @include flexProp;
            flex-direction: column;
            
        

            .text-content {
                color: #222831;
                font-size: 2.5rem;
                padding: 20px 10px;
                margin-bottom: 5%;
                font-family: 'Merienda One', cursive;

                @include for-tablet-portrait-up  {
                    $self: &; 
                    font-size: 2rem;
                    padding-left: 40px;
                   // padding-bottom: 10%;
                   // margin-bottom: 10%;
                }
            }

            .cocktails {
                  margin-bottom: 20%; 

                  select {
                      font-size: 1.2rem;
                      padding: 10px 80px;
                      outline: none;
                      border: #fff 1px solid;
                      border-radius:21px;
                      background: #222831;
                      color: #fff;


                      @include for-tablet-portrait-up  {
                        padding: 10px 50px;
                        margin-left: 20px;
                        font-size: 1rem;
                      }
                  }

                &:after {
                    content: "\25BC";
                    position: relative;
                    top: -1px;
                    right: 40px;
                    padding: 11px;
                    background: #222831;
                    color: #fff;
                    border-radius: 20px;
                    cursor: pointer;


                       @include for-tablet-portrait-up  {
                        top: -50%;
                        left: 70%;   
                        border-radius: 20px;
                        padding: 9px;
                    }

                }

               
            }

            .ingredient {
                background: 222831;
                width: 100%;
                height: 20%;
                padding-bottom: 40%;
                text-align: center;

                h3 {
                    padding-bottom: 20px;

                    @include for-tablet-portrait-up  {
                            font-size: 16px;
                    }
                }

                .ingerdient-info {
                    padding: 20px;

                    @include for-tablet-portrait-up  {
                            font-size: 14px;
                    }
                }

                @include for-tablet-portrait-up  {
                    padding-bottom: 40%;
                }
            }
        }

        .right-content {
            width: 50%;
            @include flexProp;

            .slideshow {
                background: #fff;
                width: 70%;
                height: 70%;
                margin-left: 10%;
            }
        }   
    }

    
}
